body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;
  z-index: 3;
}

.bg-image {
  position: absolute;
  z-index: -1;
  opacity: 0.5;
  filter: blur(20px) grayscale(70%);  
  -webkit-filter: blur(20px) grayscale(70%);
}

.form-container form {
  background: rgb(245, 245, 245);
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 70%,
    rgba(207, 207, 207, 1) 100%
  );
  display: flex;
  align-items: space-between;
  justify-content: center;

  box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.form-container div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem;
  z-index: 2;
  background: rgb(245, 245, 245);
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 70%,
    rgba(207, 207, 207, 1) 100%
  );
}

h4 {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h4 #line {
  width: 10%;
  padding: 0;
  background: none;
  opacity: 0;
  background-color: #212121;
  min-height: 1.3px;

  transition: all 0.5s 0.1s ease-in-out;
}

.form-image {
  width: 650px;
  z-index: 0;

  transition: all 0.3s 0.1s ease-in-out;
}

form:hover .form-image {
  transform: scale(1.2);
}

form:hover #line {
  opacity: 1;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  min-width: 300px;
}

ul li {
  display: flex;
  flex-direction: column;

  margin: 1rem 0;
}

ul li label {
  font-size: 1rem;
  font-weight: 400;
  color: #878787;
}

ul li input {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.4rem;
  margin: 0.2rem 0;
  border: none;
}

ul > li > p {
  margin: 0;
  color: rgba(255, 0, 0, 0.5);
  font-size: 0.8rem;

  display: none;
}

button {
  width: 50%;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  color: #f5f5f5;
  background-color: #212121;
  transition: all 0.2s ease-in-out;
}

button:hover {
  width: 60%;
  transform: translateY(-10px);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
