:root {
}

*,
body {
  font-family: "Quicksand", sans-serif;
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

body {
  margin: 0;
  padding: 0;
  background: rgb(236, 236, 236);
  background: linear-gradient(
    140deg,
    rgba(236, 236, 236, 1) 0%,
    rgba(223, 241, 240, 1) 100%
  );
  background-attachment: fixed;
  width: 100%;
}

.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2rem;
  border-radius: 2rem;

  background-color: transparent;
  border: 1px solid #f5f5f5;
  /* box-shadow: 20px 20px 50px #4d4d4d30, 
            -30px -30px 60px #ffffff; */
  /* box-shadow: var(--h1) var(--v1) var(--blur1) var(--color-dark), 
    var(--h2) var(--v2) var(--blur2) var(--color-light); */
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  margin: 4rem;
}

.form-container form:hover {
  background-color: #f5f5f5;
  box-shadow: 10px 10px 50px #4d4d4d30, -20px -20px 50px #ffffff;
}

.input-header,
.input-body {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}

.input-todo-title input,
textarea,
select {
  border: none;
  outline: none;
  background: transparent;

  color: #7c7c7c;
  resize: none;
}

.input-todo-title {
  /* border: 2px solid #7e7e7e15; */
  padding: 1rem;
  margin: 0 1rem;
  border-radius: 2rem;

  /* box-shadow: 
    12px 12px 16px 0 rgb(255, 255, 255) inset,
    -8px -8px 12px 0 rgba(40, 40, 40, 0.099) inset; */
}

.input-todo-title input {
  font-size: 1.2rem;
  width: 400px;
}

.input-todo-status {
  font-size: 1.2rem;
  border-radius: 2rem;
  padding: 1rem;
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.input-todo-status select {
  font-size: 1.2rem;
  cursor: pointer;
}

.input-todo-status:hover {
  box-shadow: 20px 20px 50px #4d4d4d30, -30px -30px 60px #ffffff;
}

.input-body {
  margin: 1rem 0;
  /* border: 1px solid #7c7c7c; */

  width: 95%;
  display: flex;
  justify-content: space-between;
}

.input-todo-description {
  /* box-shadow: 
    12px 12px 16px 0 rgb(255, 255, 255) inset,
    -8px -8px 12px 0 rgba(40, 40, 40, 0.099) inset; */

  border-radius: 1rem;
  padding: 1rem;
  width: 70%;
}

textarea {
  font-size: 1.1rem;
}

.add-todo-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-todo-button button {
  font-size: 3rem;
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  border-radius: 50%;
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7c7c7c;
  border: none;
  background-color: transparent;
  /* border: 1px solid #7c7c7c; */
  cursor: pointer;
}

.add-todo-button button:hover {
  box-shadow: 20px 20px 50px #4d4d4d30, -30px -30px 60px #ffffff;
}

form:hover .add-todo-button button {
}

form:hover .input-todo-title,
form:hover .input-todo-description {
  box-shadow: 12px 12px 16px 0 rgb(255, 255, 255) inset,
    -8px -8px 12px 0 rgba(40, 40, 40, 0.099) inset;

  color: #7c7c7c;
}

.todo-container {
  width: 80%;
}

.todo-list {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;

  margin-bottom: 2rem;
}

.todo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #f5f5f5;
  padding: 1rem 2rem;
  border-radius: 2rem;
  margin-bottom: 4rem;
  width: 80%;
  animation: 1.5s ease-out 0s 1 growAnim;
}

.todo-item-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-item-header h3 {
  margin: 0;
  font-size: 2rem;
  padding: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #252525;
}

.todo-item-header select {
  font-size: 1rem;
  cursor: pointer;
}

.todo-item-body {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.todo-item-body p {
  margin: 0;
  color: #7c7c7c;
  margin-bottom: 1rem;
  padding: 0 1rem;
  text-align: justify;
  text-justify: inter-word;
}

.todo-item-body button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  outline: none;
  background: transparent;
  color: #af0000;
  font-size: 1.5rem;
  padding: 2rem;
  margin: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-item:hover {
  background-color: #f5f5f5;
  box-shadow: 20px 20px 50px #4d4d4d30, -20px -20px 50px #ffffff;
}

.todo-item-body button:hover {
  background-color: #f5f5f5;
  box-shadow: 20px 20px 50px #4d4d4d30, -20px -20px 50px #ffffff;
}

@keyframes growAnim {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    
    opacity: 1;
    
  }
}
