body{
    margin: 0;
    padding: 0;
    width: 100%;
    

    font-family: 'Montserrat', sans-serif;
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    background-color: #3a3a3a;
    color: #f5f5f5;
    border-radius: 0 0 8rem 8rem;
}

nav h1 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
}

main {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;

    border: 2px solid #3a3a3a85;    
    border-radius: 2rem;
    padding: 2rem;
    transition: all 0.3s ease-in-out;
}

.sub-adder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sub-adder input {
    border: none;
    outline: none;
    width: 40%;
    height: 3rem;
    border-radius: 2rem;
    margin: 0 1rem;

    font-size: 1.2rem;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 0.1rem;
    padding: 0 2rem;
    background-color: #f5f5f5;
    transition: all 0.2s ease-in-out;

}

button {
    width: 3rem;
    height: 3rem;
    border: none;

    border-radius: 50%;
    background-color: #f5f5f5;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

button:hover {
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

.sub-adder input:hover {
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

main ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    margin: 2rem 0;
    padding: 0;

    transition: all 0.3s ease-in-out;
}

main ul li {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    margin: 0;
    padding: 0.5rem 0;
    transition: all 0.3s ease-in-out;
}

li span {
    flex: 0.01;
}

li h4 {
    flex: 0.7;
}

li button {
    color: #f5f5f5;
    background-color: rgb(222, 0, 0);
}